* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    animation: opening 1s ease-in-out;
    font-family: 'Poppins', sans-serif;
    color: $gray-text;
}

h1 {
    @include fluid('font-size', 20, 35);
    font-family: 'Poppins', sans-serif;
}

li,
button,
label,
input,
p,
a {
    @include fluid('font-size', 16, 20);
    font-weight: 400;
    line-height: 1.8;
    font-family: 'Poppins', sans-serif;
}

h2 {
    font-size: $header2;
}

h3 {
    font-size: $header3;
}

h4,
h5 {
    font-size: $header4;
}

a {
    text-decoration: none;
    color: $gray-text;
}

ul {
    list-style: none;
}